<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body class="welcome_index">

<header th:replace="header :: header"></header>

<div id="main">
    <div class="container" id="daily">
        <div class="jscroll-inner">
            <div class="daily" th:each="vos : ${vosList}">
                <div th:each="vo : ${vos}">

                    <h3 class="date" th:if="${voStat.index eq 0}">
                        <i class="fa icon-calendar"></i>
                        <span>校园微博系统 &nbsp; [[${#dates.format(vo.get('microBlog').createdDate, 'yyyy-MM-dd')}]]</span>
                    </h3>

                    <div class="posts">
                        <div class="post">
                            <div class="votebar">
                                <button class="click-like up" th:classappend="${vo.get('like')} gt 0 ? 'pressed' : ''" th:data-id="${vo.get('microBlog').id}" title="赞同">
                                    <i class="vote-arrow"></i><span class="count">[[${vo.get('microBlog').likeCount}]]</span>
                                </button>
                                <button class="click-dislike down" th:classappend="${vo.get('like')} lt 0 ? 'pressed' : ''" th:data-id="${vo.get('microBlog').id}" title="反对">
                                    <i class="vote-arrow"></i>
                                </button>
                            </div>
                            <div class="content" th:data-url="'/microBlog/' + ${vo.get('microBlog').id}">
                                <div>
                                    <img class="content-img" th:src="${vo.get('microBlog').image}" alt="">
                                </div>
                                <div class="content-main">
                                    <h3 class="title">
                                        <a target="_blank" rel="external nofollow" th:href="@{'/microBlog/' + ${vo.get('microBlog').id}}">[[${vo.get('microBlog').title}]]</a>
                                    </h3>
                                    <div class="meta">
                                        [[${vo.get('microBlog').link}]]
                                        <span>
                                            <i class="fa icon-comment"></i> [[${vo.get('microBlog').commentCount}]]
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="user-info">
                                <div class="user-avatar">
                                    <a th:href="@{'/user/' + ${vo.get('user').id}}"><img width="32" class="img-circle" th:src="${vo.get('user').headUrl}"></a>
                                </div>
                            </div>
                            <div class="subject-name">来自 <a th:href="@{'/user/' + ${vo.get('user').id}}">[[${vo.get('user').name}]]</a></div>
                        </div>
                    </div>

                </div>
            </div>

            <nav th:replace="pagination :: pagination"></nav>

        </div>
    </div>
</div>

<footer th:replace="footer"></footer>

</body>
</html>